*{
    margin: 0em;
    padding: 0em;
}
body{
    display: flex;
}
#secaoformulario {
    background-color: blue;
    height: 100%;
    width: 40%;
    
   
}

#secaoformulario form div{
    display: flex; 
    flex-direction: column;
    padding: 1em;
}

.botoes{
    display: flex; 
    
}

#secaocards {
    height: 100%;
    width: 60%;
}
#secaocards img{
    width: 22px;
}

